<% layout('layouts/boilerplate') %>
<div>
    <h1 class="text-center">Edit <%= campground.title %> </h1>
    <form action="/campground/<%= campground._id %>?_method=PUT" method="POST" class="row">
        <div class="col-md-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title %>">
        </div>
        <div class="col-md-4">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location %>">
        </div>
        <div class="col-md-4">
            <label for="Price" class="form-label">Price</label>
            <div class="input-group">
                <div class="input-group-text">$</div>
                <input type="text" class="form-control" id="Price" name="campground[Price]" value="<%= campground.price %> ">
            </div>
        </div>
        <div class="mb-3 col-md-12">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" name="campground[description]"> <%= campground.description %> </textarea>
        </div>
        <div class="mb-3 col-md-12">
            <label for="image">Image</label>
            <input type="url" class="form-control" id="image" name="campground[image]" value="<%= campground.image %> ">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Update campground</button>
            <a href="/campground/<%= campground._id %> " class="btn btn-primary">Back to Campground</a>
        </div>
    </form>
</div>