<% layout('layouts/boilerplate') %>
<div class="card my-3">
    <div class="card-header text-center">
        <h3 class="card-title"><%= campground.title %> </h3>
    </div>
    <img src="<%= campground.image %> " class="card-img-top img-fluid">
    <div class="card-body text-center">
        <h4 class="card-subtitle mb-2 text-muted"><%= campground.location %> </h4>
        <p class="card-text"><%= campground.description %> </p>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-center">$<%= campground.price %> </li>
    </ul>
    <div class="card-body text-center">
        <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
            <div class="btn-group">
                <a href="/campground" class="btn btn-primary">Back to Campgrounds</a>
                <a href="/campground/<%= campground._id %>/edit" class="btn btn-secondary">Edit Campground</a>
                <button type="submit" class="btn btn-danger">Delete Campground</button>
            </div>
        </form>
    </div>
</div>
<!-- PICK UP FROM HERE 2/8/2021 -->
<div class="row">
    <% if(reviews.length){ %> 
    <div class="col-sm-12 col-md-6">
    <% } %> 
        <form action="/campground/<%= campground._id %>/review" method="POST" class="Validate" novalidate>
            <div class="my-2 py-2">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="10" required></textarea>
                <label for="rating" class="form-label">Example range</label>
                <input type="range" class="form-range" name="review[rating]" min="0" max="5" step="0.5" id="rating">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
    <% if(reviews.length){ %> 
        </div>
        <div class="col-sm-12 col-md-6 my-2 py-2">
            <p class="pb-1 mb-1">Submitted Reviews</p>
            <ul class="list-group">
                <% for(let review of reviews){ %> 
                <form action="/campground/<%= campground._id %>/review/<%= review._id %>/?_method=DELETE" method="POST">
                    <li class="list-group-item">
                        Review: <%= review.body %><span><strong>|</strong>  Rating: <%= review.rating %></span>
                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                    </li>
                </form>
                <% } %> 
            </ul>
        </div>
    <% } %> 
    </div>
</div>
<!-- PICK UP FROM HERE 2/8/2021 -->